.detalhes{
    width: 100%;
    height: 350px;
}

.voltar{
    background-color: #8f8f8f;
}

.descricao{
    width: 100%;
}

h2{
    margin-top: 5px;
    margin-bottom: 5px;
}

.informacoes .flex{
    display: flex;
    justify-content: space-between;
}

.main{
    min-height: calc(100vh - 60px);
}